 .problem-area__beauty-quiz-answer-wrapper {
    position: relative;
    height: var(--answer-height);
    max-width: var(--max-width);
    width: 100%;
    background-color: var(--clr-slate-default);
    border:var(--clr-slate-default); ;
    display: flex;
    cursor: pointer;
    transition: border-color 0.3s; 
   
  }

  .problem-area__beauty-quiz-answer-wrapper:hover {
    border-color: var(--clr-slate-hover);
    background-color: var(--clr-slate-hover); 
}
  
  .square__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33px;
  }

  .square {
    width: 30px;
    height: 30px;
    border: 2px solid var(--clr-white); 
    box-sizing: border-box;
}

  .problem-area__beauty-quiz-answer-text {
    position: absolute;
    left: 8.3rem;
    max-width: 10.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: var(--fs-answer-text); 
  }
  
  .problem-area__beauty-quiz-answer-img {
    margin-left: auto;
    height: 100%;
  }

  /* Media query for larger screens */

  @media (min-width: 400px) {
    .problem-area__beauty-quiz-answer-text {
      max-width: 20rem;
    }
  }
  

  @media (min-width: 500px) {
    .problem-area__beauty-quiz-answer-text {
      max-width: 30rem;
    }
  }
  