
.beauty-quiz__answer-img--problem-area{
  margin-left: auto;
}

.beauty-quiz__answer-wrapper--jc-end{
  justify-content:end;
} 

.beauty-quiz__answer-text--problem-area{
  left: 8.3rem;
  max-width: 10.5rem;
  font-size: var(--fs-answer-text);
}

.checkmark__problem-areas{
  left: 36px;
}

/* Media query for larger screens */

@media (min-width: 400px) {
  .beauty-quiz__answer-text--problem-area {
    max-width: 20rem;
  }
}

@media (min-width: 500px) {
  .beauty-quiz__answer-text--problem-area {
    max-width: 30rem;
  }
}
