.beauty-quiz-answer__text--hydrating-ingredients {
  font-size: var(--fs-answer-text);
}

.beauty-quiz-answer__basic-text--hydrating-ingredients {
  font-size: var(--fs-bt);
}

.beauty-quiz-answer__wrapper--hydrating-ingredients {
  padding-left: 16px;
  padding-right: 16px;
  justify-content: left;
  align-items: center;
}

.checkmark__hydrating-ingredients{
  left: 18px;
  top: 2px;
}

.min-height{
  height: 122px;
}


@media (min-width : 700px) {
  .min-height{
    height: 100px;
  }
  .checkmark__hydrating-ingredients{
    left: 18px;
    top: 13px;
  }
  
}