.previous-skincare {
  margin-bottom: 360px;
}

.beauty-quiz--title {
  text-transform: none;
}

.submited-text__description {
  font-size: var(--fs-bt);
}

.submited-text {
  margin: 21px;
  padding: 1.6rem;
  border: 2px solid var(--clr-white);
}

.submited-text__title {
  text-transform: none;
}
