.moisturize-beauty-quiz__wrapper{
display: flex;
text-align: left;
flex-direction: column;
justify-content: center;
padding-left: 3.3rem;
cursor: pointer;
} 

.moisturize-beauty-quiz__description{
font-size: var(--fs-bt);
text-align: left;
}