.body-care-quiz-answer__wrapper {
    position: relative;
    height: var(--answer-height);
    max-width: var(--max-width);
      width: 100%;
      background-color: var(--clr-slate-default);
      border: 2px solid var(--clr-slate-default);
      display: flex;
      transition: border-color 0.3s; 
      cursor: pointer;
    }

    .small-circle{
      width: 20px; 
      height: 20px;
      background-color: var(--clr-gold); 
      border-radius: 50%; 
      position: absolute;
    }

    .body-care-quiz-answer__wrapper:hover {
      border-color: var(--clr-slate-hover);
      background-color: var(--clr-slate-hover); 
  }

    .circle__container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 33px;
    }
  
    .circle {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid var(--clr-white); 
  }
  
    .body-care-quiz-answer__text {
      position: absolute;
      left: 8.3rem;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: var(--fs-answer-text); 
    }
    

