<div *ngIf="page2Questions">
  <div class="beauty-quiz-answer__wrapper" (click)="onQuestionClick(page2Questions.page2.question1)">
    <p>{{ page2Questions.page2.question1 }}</p>
  </div>
  <div class="beauty-quiz-answer__wrapper" (click)="onQuestionClick(page2Questions.page2.question2)">
    <p>{{ page2Questions.page2.question2 }}</p>
  </div>
  <div class="beauty-quiz-answer__wrapper" (click)="onQuestionClick(page2Questions.page2.question3)">
    <p>{{ page2Questions.page2.question3 }}</p>
  </div>
  <div class="beauty-quiz-answer__wrapper" (click)="onQuestionClick(page2Questions.page2.question4)">
    <p>{{ page2Questions.page2.question4 }}</p>
  </div>
</div>

<button (click)="onNextPage()">Next</button>
<button (click)="onSkipPage()">Skip</button>
