<div class="moisturize section">
  <div class="container">
    <div class="moisturize-beauty-quiz">
      <app-progression-bar [currentQuizPage]="currentQuizPage"></app-progression-bar>
      <div class="moisturize-beauty-quiz__title">
        <h2>How often do you moisturize your skin?</h2>
        <p class="moisturize-beauty-quiz__sub-title">Choose your current level to align with your routine</p>
      </div>
    
      <!-- <div class="moisturize-beauty-quiz__slider-bar d-flex">
        <div class="rectangle" *ngFor="let index of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" (click)="onRectangleClick(index)"></div>
      </div> -->

      <div class="moisturize-beauty-quiz__slider-bar d-flex">
  <div class="rectangle rec1" (click)="onRectangleClick(1)"></div>
  <div class="rectangle rec2" (click)="onRectangleClick(2)"></div>
  <div class="rectangle rec3" (click)="onRectangleClick(3)"></div>
  <div class="rectangle rec4" (click)="onRectangleClick(4)"></div>
  <div class="rectangle rec5" (click)="onRectangleClick(5)"></div>
  <div class="rectangle rec6" (click)="onRectangleClick(6)"></div>
  <div class="rectangle rec6" (click)="onRectangleClick(7)"></div>
  <div class="rectangle rec8" (click)="onRectangleClick(8)"></div>
  <div class="rectangle rec9" (click)="onRectangleClick(9)"></div>
  <div class="rectangle rec10" (click)="onRectangleClick(10)"></div>
      </div>
    
      <div *ngIf="page6Answers">
        <ng-container *ngIf="page6Answers | keyvalue as answersArray">
          <app-moisturize-skin-answer [answer]="page6Answers['answer' + selectedRectangleIndex]" (answerClicked)="onAnswerClick($event)"></app-moisturize-skin-answer>
        </ng-container>
      </div>
  
      <div class="quiz__btn-wrapper btn__gap padding-top-gap">
        <button class="quiz__btn-continue" (click)="onNextPage()">Continue <span><img  class="arrow"[src]="arrow" alt="Continue button"></span></button>
        <button class="quiz__btn-skip" (click)="onSkipPage()">Skip</button>
      </div>
    </div>
    
  </div>
</div>
