.intro-content-block{
    max-width: 515px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}

 .beauty-quiz{
    max-width: 515px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
 }

 .beauty-quiz__container{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

 @media only screen and (min-width: 1200px) {
    .intro-content-block {
        padding-left: 6rem; 
    }
  }