<div class="section">
  <div class="container padding-top-70">
      <div class="row">
          <div class="col-lg-6 intro-content-block">
             <div class="text-gap">
              <h1><span class="intro-content-block__first-word">Achieve</span> perfectly <span class="italic">smooth, youthful </span> skin</h1>
              <p class="body-text">Get a personalized workout program</p>
            </div>
          </div>
          <div class="col-lg-5 beauty-quiz">
            <h2 class="title-gap">Choose your goal</h2>
            <div  *ngIf="page1Answers" class=" beauty-quiz__container text-gap">
                <app-answer *ngFor="let answer of page1Answers | keyvalue" [answer]="answer.value" (answerClicked)="onNextPage($event)"></app-answer>
            </div>
          </div>
      </div>
  </div> 
</div>


