.intro-content-block{
    max-width: 515px;
    margin: 0 auto;
    text-align: left;
}

.intro{
    margin-bottom: 376px;
}

 @media only screen and (min-width: 1200px) {
    .intro-content-block {
        padding-left: 6rem; 
    }
  }

  