.progression-bar__container {
  display: flex;
  align-items: center; 
  gap: 1.2rem;
  padding: 3.2rem 0;
  justify-content: center;
}

.progression-bar__rectangle-bar {
  height: 12px;
  max-width: 42.6rem;
  min-width: 24.4rem;
  width: 100%;
  background-color: var(--clr-gray);
  position: relative;
}

.progression-bar__rectangle-progression-gold {
  height: 1.2rem;
  background-color: var(--clr-gold);
  position: absolute;
}

.progression-bar__arrow-back-btn{
  font-size: var(--fs-h3);
  border-style: solid;
  border: 0px solid var(--clr-gray);
  padding: 0 6px;
  background-color: var(--clr-gray);
  cursor: pointer;
}

.progression-bar__counter{
  font-size: var(--fs-bt);
}