<div class="describe-skin section">
  <div class="container">
    <div class="beauty-quiz beauty-quiz__extend-width">
      <app-progression-bar [currentQuizPage]="currentQuizPage"></app-progression-bar>
      <div class="row d-flex padding-top-20">
        <div class="col-md-4  beauty-quiz-answer__img-container" *ngIf="page4Answers">
          <ng-container *ngIf="page4Answers | keyvalue">
            <app-describe-skin-answer
              [answer]="page4Answers['answer' + selectedRectangleIndex]"
              (answerClicked)="onAnswerClick($event)"
            ></app-describe-skin-answer>
          </ng-container>
        </div>
        <div class="col-md-8 beauty-quiz-answer__describe-skin-content-box ">
          <h2>How would you describe your skin?</h2>
          <div class="d-flex flex-column">
           
            <div class="slider-bar d-flex">
              <div class="clickable-area-1" (click)="onLeftClick(1)">
               
                  <p class="answer-1-con text-center" *ngIf="selectedRectangleIndex === 1">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                  <div class="oval" *ngIf="selectedRectangleIndex === 1"></div>
                  <div class="triangle-down" *ngIf="selectedRectangleIndex === 1"></div>
              </div>

              <div class="rectangle rectangle-1"></div>
              <div class="clickable-area-2" (click)="onRightClick(2)">
                <p class="answer-2-con text-center" *ngIf="selectedRectangleIndex === 2">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                <div class="oval" *ngIf="selectedRectangleIndex === 2"></div>
                <div class="triangle-down" *ngIf="selectedRectangleIndex === 2"></div>
              </div>

              <div class="rectangle rectangle-2"></div>
              <div class="clickable-area-3" (click)="onRightClick(3)">
                <p class="answer-3-con text-center" *ngIf="selectedRectangleIndex === 3">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                <div class="oval" *ngIf="selectedRectangleIndex === 3"></div>
                <div class="triangle-down" *ngIf="selectedRectangleIndex === 3"></div>
              </div>
              <div class="rectangle rectangle-3"></div>
              <div class="clickable-area-4" (click)="onRightClick(4)">
                <p class="answer-4-con text-center" *ngIf="selectedRectangleIndex === 4">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                <div class="oval" *ngIf="selectedRectangleIndex === 4"></div>
                <div class="triangle-down" *ngIf="selectedRectangleIndex === 4"></div>
              </div>
              <div class="rectangle rectangle-4"></div>
              <div class="clickable-area-5" (click)="onRightClick(5)">
                <p class="answer-5-con text-center" *ngIf="selectedRectangleIndex === 5">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                <div class="oval" *ngIf="selectedRectangleIndex === 5"></div>
                <div class="triangle-down" *ngIf="selectedRectangleIndex === 5"></div>
              </div>
              <div class="rectangle rectangle-5"></div>
              <div class="clickable-area-6" (click)="onRightClick(6)">
                <p class="answer-6-con text-center" *ngIf="selectedRectangleIndex === 6">{{page4Answers['answer' + selectedRectangleIndex][0]}}</p>
                <div class="oval" *ngIf="selectedRectangleIndex === 6"></div>
                <div class="triangle-down" *ngIf="selectedRectangleIndex === 6"></div>
              </div>
            </div>      
        <div class="quiz__btn-wrapper btn__gap padding-top-gap">
          <button class="quiz__btn-continue" (click)="onNextPage()">
            Continue
            <span
              ><img class="arrow" [src]="arrow" alt="Continue button"
            /></span>
          </button>
          <button class="quiz__btn-skip" (click)="onSkipPage()">
            Skip
          </button>
        </div>
    </div>
  </div>
</div>