.describe-skin-beauty-quiz-answer__img{
    width: 141px;
    height: auto;
}

.describe-skin-beauty-quiz-answer__content-box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 3.2rem;

}

.slider-bar{
    padding-top: 4.8rem;
    gap: 2px;
    position: relative;
}

.rectangle{
height: 7px;
width: 71px;
background-color: var(--clr-gray);
}


.describe-skin-beauty-quiz-answer__text-container{
    position: absolute;
    top: -8px;
    left: -54px;
    height: 29px;
    width: 109px;
    background-color: var(--clr-gray);
 
}

.oval {
    position: absolute;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    left: 44px;
    bottom: -44px;
    border-radius: 50%;
    border: 2px solid #0C233F;
    background-color: var(--clr-gold);
  }


.describe-skin-beauty-quiz-answer__gap{
    gap: 8.2rem;
}

.describe-skin-beauty-quiz-answer__text{
    font-size: var(--fs-bt);
    text-align: center;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--clr-gray); 
    position: absolute;
    bottom: -10px;
    left: 35px;
  }