.describe-skin {
  margin-bottom: 360px;
}

.beauty-quiz__extend-width{
max-width: 770px;
width: 100%;
}

.beauty-quiz-answer__img-container{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.beauty-quiz-answer__describe-skin-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-bar{
  padding: 6rem 0;
  font-size: var(--fs-bt);
  gap: 2px;
  margin: 0 auto;
}

.rectangle{
  height: 7px;
  width: 41px;
  background-color: var(--clr-gray);
}

 .clickable-area-1,
 .clickable-area-2,
 .clickable-area-3,
 .clickable-area-4,
 .clickable-area-5,
 .clickable-area-6
 {
  width: 2px;
  position: relative;
  cursor: pointer;
 }



 .answer-3-con,
 .answer-4-con,
 .answer-5-con

 {
  position: absolute;
  top: -58px;
  left: -75px;
  height: 29px;
  width: 155px;
  background-color: var(--clr-gray);
  cursor: pointer; 
}
.answer-1-con,
.answer-2-con,
.answer-6-con{
  position: absolute;
  top: -58px;
  left: -50px;
  height: 29px;
  width: 100px;
  background-color: var(--clr-gray);
  cursor: pointer; 
}

.oval {
  position: absolute;
  box-sizing: border-box;
  z-index: 999;
  height: 25px;
  width: 25px;
  left: -13px;
  top: -10px;
  border-radius: 50%;
  border: 2px solid #0c233f;
  background-color: var(--clr-gold);
}

.triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--clr-gray);
 
  top: -30px;
  left: -20px;
}



@media (min-width: 600px) {
  .rectangle {
    width: 71px;
  }
  .slider-bar {
    margin: 0; 
  }

  
}







/* .describe-skin-beauty-quiz-answer__text {
  font-size: var(--fs-bt);
  text-align: center;
} */

  /* .describe-skin-beauty-quiz-answer__text-container--normal-skin {
    left: -54px;
  }

  .describe-skin-beauty-quiz-answer__text-container--dry-skin {
    left: 18px;
  }

  .describe-skin-beauty-quiz-answer__text-container-l--microwrinkles {
    left: 85px;
  }

  .describe-skin-beauty-quiz-answer__text-container-xl--scaly {
    left: 157px;
  }

  .describe-skin-beauty-quiz-answer__text-container-xl--itchy {
    left: 232px;
  }

  .describe-skin-beauty-quiz-answer__text-container--crepey {
    left: 316px;
  } */