/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,700;1,700&display=swap');

/* Global variables defined using :root */
:root {
    --ff: "Work Sans", sans-serif;

    --clr-blue: #0C233F;
    --clr-gray: #556579;
    --clr-gold: #E2C47C;
    --clr-white: #FFFFFF;
    --clr-beige: #EDDBB0;

    --clr-btn: #E2C47C;

    --clr-slate-fill: #556479;
    --clr-slate-selected: #E2C47C;
    --clr-slate-hover: #394A62;
    --clr-slate-default: #556479;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-answer-text: 2rem;
    --fs-btn-text: 2rem;
    --fs-bt: 1.6rem;
    --fs-d: 1.2rem;

    --max-width: 515px;
    --answer-height: 133px;
    --btn-height: 83px;

}


/* Resetting styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: var(--ff);
    background-color: var(--clr-blue);
    color: var(--clr-white);
    min-height: 1080px;
}

/* HTML font size and text alignment */
html {
    font-size: 62.5%; /* 1rem will now be 10 pixels (10/16 * 100%) */
    text-align: left;
}

/* Heading styles */
h1 {
    font-family: 'Unna';
    font-size: var(--fs-h1);
    font-weight: 700;
    /* width: 100%; */
    text-transform: capitalize;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: 600; 
    text-transform: capitalize;
}

h3 {
    font-size: var(--fs-h3);
    font-weight: 600;
    text-transform: capitalize;
}

/* Body text styles */
.body-text {
    font-size: var(--fs-bt);
    font-weight: 400;
    max-width: 314px;
}

/* Disclaimer text styles */
.disclaimer-text {
    font-size: var(--fs-d);
    font-weight: 400;
}

/* Button states styles */
.active {
    opacity: 100%;
    color: var(--clr-btn);
}

.inactive {
    opacity: 60%;
    color: var(--clr-btn);
}

.quiz__btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn__gap{
    gap: 1.6rem;
}

.quiz__btn-none-of-above{
    max-width: var(--max-width);
    width: 100%;
    height: var(--btn-height);
    background-color: var(--clr-slate-default);
    color: var(--clr-white);
    font-size: var(--fs-btn-text);
    font-weight: 600; 
    border: 1px var(--clr-slate-default) solid;
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    padding-left: 3.7rem;
    padding-right: 3.7rem;
    align-items: center;
}

.quiz__btn-continue{
    max-width: var(--max-width);
    width: 100%;
    height: var(--btn-height);
    background-color: var(--clr-gold);
    font-size: var(--fs-btn-text);
    font-weight: 600; 
    border: 1px var(--clr-gold) solid;
    display: flex;
    justify-content: space-between;
    padding-left: 3.7rem;
    padding-right: 3.7rem;
    align-items: center;
}

.quiz__btn-skip{
    max-width: var(--max-width);
    width: 100%;
    height: var(--btn-height);
    border: 1px var(--clr-white) solid;
    color: var(--clr-white);
    background-color: transparent;
    font-size: var(--fs-btn-text);
    font-weight: 600; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section and container styles */
.section {
    padding: 0 2rem;
}

.container {
    border: 1px white solid;
    padding: 0;
}


/* Padding utility classes */

.padding-top-gap{
padding-top: 1.6rem;
}

.padding-top-20 {
    padding-top: 2rem;
}

.padding-top-70 {
    padding-top: 7rem;
}

/* Gap utility classes */

.gap{
    gap: 1.6rem;
}

.gap-double{
    gap: 3.2rem;
}

.text-gap {
    gap: 1.6rem;
}

.title-gap {
    padding-bottom: 3.2rem;
}


/* Italic text style */
.italic {
    font-style: italic;
}

/* text-align */
.text-center{
    text-align: center;
}

/* beauty quiz answer style */
.beauty-quiz{
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: left;
 }

 .beauty-quiz__container{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}


.beauty-quiz__answer-text{
    position: absolute;
    left: 3.3rem;
    max-width: 28rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: var(--fs-answer-text); 
}

.beauty-quiz__answer-img{
   display: flex;
    height: 100%;
}


.beauty-quiz__answer-wrapper{
    position:relative;
    height: var(--answer-height);
    max-width: var(--max-width);
    width: 100%;
    background-color:  var( --clr-slate-default);
    display: flex;
    justify-content:end;
} 

.beauty-quiz__align-center{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
}
/* arrow and x png */
.arrow,
.x{
    height: 24px;
    width: 24px;
}

/* media query */

@media only screen and (max-width: 1200px) {
    .beauty-quiz__answer-text{
        max-width: 17rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .intro-content-block__first-word{
        display: block;
    }
  }